.root {
    display: flex;
    width: 100%;
    height: 50px;
    margin: 20px 0px;
    position: relative;  
}

.root:hover .x-icon-button {
    opacity: 1;
    transform: scale(1);
}

.x-icon-button {
    position: absolute;
    height: 34px;
    width: 34px;
    background: rgb(40, 40, 40);;
    border-radius: 50%;
    right: -17px; /* This is half of the width */
    top: -17px; /* This is half of the height */
    background-image: url("../../../assets/delete_icon.svg");
    background-size: cover;
    opacity: 0;
    transform: scale(0);
    transition: opacity 0.2s ease-out, transform 0.2s ease-out;
}

.root .x-icon-button:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.budget-item {
    display: flex;
    width: 100%;
    background: lightgrey;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.budget-item:hover {
    background: grey;
    transition: background 0.2s ease-out;
}

.description {
    flex-grow: 1;
    font-size: 18px;
    margin-left: 5px;
}

.expense > .amount p {
    padding: 5px;
    border-radius: 3px;
    background-color: lightpink;
}

.expense p {
    color: red;
}

.income > .amount p {
    padding: 5px;
    border-radius: 3px;
    background-color: lightgreen;
}

.income p {
    color: green;
}